@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Dancing+Script:wght@400..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=M+PLUS+Rounded+1c&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Tapestry&display=swap");

.teacher-page-wrapper {
  display: flex;
  // align-items: center;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  font-family: "Barlow", sans-serif;

  .teacher-left {
    width: 25%;
    padding-top: 22px;
    padding-right: 46px;
    background-color: #fff;
    padding-left: 49px;
  }

  .teacher-right {
    width: 75%;
    padding-top: 22px;
    padding-right: 50px;
    padding-left: 57px;
    background-color: #c9c5c569;
  }
}

.teacher-main-wrapper{
  overflow: scroll;
  padding-bottom: 100px;
  height: 87vh;
}